/* your styles go here */

.jumbotron .dark-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #38a7bb;
  opacity: 0.5;
  filter: alpha(opacity=90);
}

#top .social a:hover.github {
  background-color: #555555;
}
#product-social p a.github {
  background-color: #333333;
}
.team-member .social a.github {
  background-color: #333333;
}
.team-member .social a.github,
.team-member-detail .social a.github {
  background-color: #333333;
}

#top .social a:hover.web {
  background-color: #555555;
}
#product-social p a.web {
  background-color: #333355;
}
.team-member .social a.web {
  background-color: #333355;
}
.team-member .social a.web,
.team-member-detail .social a.web {
  background-color: #333355;
}

.btn-primary a {
  color: white;
}

.extramargin {
    margin-top: 30px;
    margin-bottom: 30px;
}

