---
layout: default
title: Schedule
---


{% assign grpevents = (site.events | group_by: 'eventdate' | sort: 'name' )  %}
{% for day in  grpevents  %}
<h3>{{day.name}}</h3>

    {% assign sortedevents = (day.items | sort: 'eventtime'  )  %}
    {% for event in  sortedevents  %}


        <h4>
            {{event.eventtime}} 
            - <a href="{{ event.url | prepend: site.github.url }}">{{event.title}}</a>
            <i>

            {% for speakerid in event.speaker %}
                {% assign speaker =  site.speakers | where:"speaker-id",speakerid |  first %} 

                -  <a href="{{ speaker.url | prepend: site.github.url }}">{{speaker.title}}</a> 

            {% endfor %}
            </i>
        </h4>
    {% endfor %}

{% endfor %}
