---
layout: default
---
{% assign speaker =  site.speakers | where:"speaker-id",page.speaker |  first %} 




<p class="text-muted text-uppercase mb-small text-right">
 By <a href="{{ speaker.url | prepend: site.github.url }}">{{speaker.title}}</a> 
 | 
 {{page.eventdate}} 
 - {{page.eventtime}}
 - {{page.location}}
</p>

<div class="row">
    <div class="col-md-10">

            <p class="lead">
            {{page.subtitle}} 
            </p>

            {{ content }}
    </div>

<div class="col-md-2">
    <img class="img-responsive img-circle" alt="" src="{{site.github.url}}/speakers/{{ speaker.image }}">
</div>
</div>
