---
layout: default
---
{% assign XXspeaker =  site.speakers | where:"speaker-id",page.speaker |  first %} 


<p class="text-muted text-uppercase mb-small text-right">

 By 
{% for speakerid in page.speaker %}
    {% assign speaker =  site.speakers | where:"speaker-id",speakerid |  first %} 

 <a href="{{ speaker.url | prepend: site.github.url }}">{{speaker.title}}</a> 

 {% if forloop.last %}
 {% break %}
 {% endif %}

 and

{% endfor %}



 | 
 {{page.eventdate}} 
 - {{page.eventtime}}
 - {{page.location}}
</p>

<div class="row">
    <div class="col-md-10">

            <p class="lead">
            {{page.subtitle}} 
            </p>

            {{ content }}
    </div>

<div class="col-md-2">

{% for speakerid in page.speaker %}
    {% assign speaker =  site.speakers | where:"speaker-id",speakerid |  first %} 
    <img class="img-responsive img-circle" alt="" src="{{site.github.url}}/speakers/{{ speaker.image }}">
{% endfor %}


</div>
</div>
