---
layout: default
---

{% assign speaker =  site.speakers | where:"speaker-id",page.speaker |  first %} 


<h1>{{page.title}}</h1>
<h2>{{page.subtitle}}</h2>
<i>
{{page.eventdate}} 
- {{page.eventtime}}
- {{page.location}}
</i>
<br>
<b>
<i> <a href="{{ speaker.url | prepend: site.github.url }}">{{speaker.title}}</a> </i>
</b>

<!-- CONTENT BEGIN  _________________________________________________________ -->
<p>
{{ content }}

</p>
<!-- CONTENT END  _________________________________________________________ -->

