---
layout: base
---

        <div id="heading-breadcrumbs">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <h1>Text page full width</h1>
                    </div>
                    <!-- BREADCRUMBS DISABLED _________________________
                    <div class="col-md-5">
                        <ul class="breadcrumb">
                            <li><a href="index.html">Home</a>
                            </li>
                            <li>Text page full width</li>
                        </ul>

                    </div>
                    _______________________ -->
                </div>
            </div>
        </div>

        <div id="content">
            <div class="container">
                <section>
                    <div class="row">

                        <div class="col-md-12 clearfix">

                            <div id="text-page">


                                <!-- CONTENT BEGIN  _________________________________________________________ -->

                                {{ content }}

                                <!-- CONTENT END  _________________________________________________________ -->


                            </div>
                        </div>
                        <!-- /.col-md-12 -->
                    </div>
                    <!-- /.row -->
                </section>
            </div>
            <!-- /.container -->
        </div>
        <!-- /#content -->


        <!-- *** GET IT ***
_________________________________________________________ -->

        <div id="get-it">
            <div class="container">
                <div class="col-md-8 col-sm-12">
                    <h3>Not yet sigend up ?</h3>
                </div>
                <div class="col-md-4 col-sm-12">
                    <a href="/signup/" class="btn btn-template-transparent-primary">Signup</a>
                </div>
            </div>
        </div>


        <!-- *** GET IT END *** -->


