---
layout: base
---

<div id="heading-breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>{{ page.fullname }}</h1>
            </div>
        </div>
    </div>
</div>


<!-- CONTENT BEGIN  _________________________________________________________ -->

<div id="content" class="team-member-detail">
    <div class="container">
        <section>
            <div class="row">
                <div class="col-md-12">
                    <div class="heading">
                        <h2>About {{ page.shortname }} </h2>
                    </div>
                    <p class="lead">
                        {{ page.lead }}
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-8">
                        {{ content }}

                </div>

                <div class="col-md-4">
                    <img class="img-responsive img-circle" alt="" src="{{ page.image }}">
                </div>
            </div>
        </section>

        <section>
            <div class="row">

                <div class="col-md-4">
                    <div class="heading">
                        <h3>Get in touch with {{ page.shortname }}</h3>
                    </div>

                    <div class="social">
                        <a href="http://www.github.com/{{speaker.github}}" class="external github" data-animate-hover="pulse"><i class="fa fa-github"></i></a>
                        <a href="https://www.facebook.com/{{speaker.facebook}}" class="external facebook" data-animate-hover="pulse"><i class="fa fa-facebook"></i></a>
                        <a href="https://plus.google.com/{{speaker.gplus}}" class="external gplus" data-animate-hover="pulse"><i class="fa fa-google-plus"></i></a>
                        <a href="http://www.twitter.com/{{speaker.twitter}}" class="external twitter" data-animate-hover="pulse"><i class="fa fa-twitter"></i></a>
                        <a href="mailto:{{speaker.email}}" class="email" data-animate-hover="pulse"><i class="fa fa-envelope"></i></a>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="heading">
                        <h3>{{ page.shortname }}'s Workshops</h3>
                    </div>
                    <ul class="ul-icons">
                        {% assign workshops =  site.events | where:"speaker",page.speaker-id  %} 
                        {% for workshop in  workshops  %}
                            <li><i class="fa fa-check"></i>
                                <a href="{{ workshop.url | prepend: site.github.url }}">{{workshop.title}}</a> 
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </section>
    </div>
    <!-- /.container -->

</div>
<!-- /#content -->

<!-- CONTENT END  _________________________________________________________ -->

