---
layout: base
---

<div id="heading-breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>{{ page.fullname }}</h1>
            </div>
        </div>
    </div>
</div>


<!-- CONTENT BEGIN  _________________________________________________________ -->

<div id="content" class="team-member-detail">
    <div class="container">
        <section>
            <div class="row">
                <div class="col-md-12">
                    <div class="heading">
                        <h2>About {{ page.shortname }} </h2>
                    </div>
                    <p class="lead">
                        {{ page.lead }}
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-8">
                        {{ content }}

                </div>

                <div class="col-sm-4">
                    <img class="img-responsive img-circle" alt="" src="{{ page.image }}">
                </div>
            </div>
        </section>

        <section>
            <div class="row">

                <div class="col-md-4">
                    <div class="heading">
                        <h3>Get in touch with {{ page.shortname }}</h3>
                    </div>

                    {% assign speaker =  page %} 
                    {% include sociallinks.html  %} 
                </div>

                <div class="col-md-4">
                    <div class="heading">
                        <h3>{{ page.shortname }}'s Workshops</h3>
                    </div>
                    <ul class="ul-icons">
                        {% assign workshops =  site.events | where:"speaker",page.speaker-id  %} 
                        {% for workshop in  workshops  %}
                            <li><i class="fa fa-check"></i>
                                <a href="{{ workshop.url | prepend: site.github.url }}">{{workshop.title}}</a> 
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </section>
    </div>
    <!-- /.container -->

</div>
<!-- /#content -->

<!-- CONTENT END  _________________________________________________________ -->

